@charset "UTF-8";
/* CSS Document */

/*Raleway*/
@font-face {
    font-family: 'Raleway-Regular';
    font-style: normal;
    font-weight: 400;
    src:url('fonts/Raleway/Raleway-Regular.ttf') format('truetype');
}
/*ANTON*/
@font-face {
    font-family: 'Anton';
    src:url('fonts/Anton/Anton.ttf') format('truetype');
}

/*MONTSERRAT*/
@font-face {
    font-family: 'Montserrat-Bold';
    src:url('fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-Regular';
    src:url('fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

/*MULI*/
@font-face {
    font-family: 'Muli-Italic';
    src:url('fonts/Muli/Muli-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Muli-Light';
    src:url('fonts/Muli/Muli-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Muli-LightItalic';
    src:url('fonts/Muli/Muli-LightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Muli-Regular';
    src:url('fonts/Muli/Muli-Regular.ttf') format('truetype');
}

/*OPEN_SANS*/
@font-face {
    font-family: 'OpenSans-Bold';
    src:url('fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-BoldItalic';
    src:url('fonts/Open_Sans/OpenSans-BoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-ExtraBold';
    src:url('fonts/Open_Sans/OpenSans-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-ExtraBoldItalic';
    src:url('fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-Italic';
    src:url('fonts/Open_Sans/OpenSans-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-Light';
    src:url('fonts/Open_Sans/OpenSans-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-LightItalic';
    src:url('fonts/Open_Sans/OpenSans-LightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-Regular';
    src:url('fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-Semibold';
    src:url('fonts/Open_Sans/OpenSans-Semibold.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-SemiboldItalic';
    src:url('fonts/Open_Sans/OpenSans-SemiboldItalic.ttf') format('truetype');
}

/*PT_SANS_NARROW*/
@font-face {
    font-family: 'PT_Sans-Narrow-Web-Bold';
    src:url('fonts/PT_Sans_Narrow/PT_Sans-Narrow-Web-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'PT_Sans-Narrow-Web-Regular';
    src:url('fonts/PT_Sans_Narrow/PT_Sans-Narrow-Web-Regular.ttf') format('truetype');
}

/*QUATTRACENTO_SANS*/
@font-face {
    font-family: 'QuattrocentoSans-Bold';
    src:url('fonts/Quattrocento_Sans/QuattrocentoSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'QuattrocentoSans-BoldItalic';
    src:url('fonts/Quattrocento_Sans/QuattrocentoSans-BoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'QuattrocentoSans-Italic';
    src:url('fonts/Quattrocento_Sans/QuattrocentoSans-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'QuattrocentoSans-Regular';
    src:url('fonts/Quattrocento_Sans/QuattrocentoSans-Regular.ttf') format('truetype');
}

/*QUICKSAND*/
@font-face {
    font-family: 'Quicksand-Light';
    src:url('fonts/Quicksand/Quicksand-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Quicksand-Regular';
    src:url('fonts/Quicksand/Quicksand-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Quicksand-Bold';
    src:url('fonts/Quicksand/Quicksand-Bold.ttf') format('truetype');
}

/*SourceSansPro*/
@font-face {
    font-family: 'SourceSansPro-Regular';
    src:url('fonts/sourcesSanPro/SourceSansPro-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'SourceSansPro-Light';
    src:url('fonts/sourcesSanPro/SourceSansPro-Light.ttf') format('truetype');
}

/*Ubuntu*/
@font-face {
    font-family: 'Ubuntu-Regular';
    src:url('fonts/ubuntu/Ubuntu-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Ubuntu-Bold';
    src:url('fonts/ubuntu/Ubuntu-Bold.ttf') format('truetype');
}

button.winter-danger{}
button.winter-warning{}
button.winter-success{}
button.winter-failure{}
button.winter-cancel{}
button.winter-next{}

.bold{font-weight: bold;}
.italic{font-style: italic;}
.block{display: block;}
.color-dark{color: #000000}
.color-dark-light{color: #333333}
.color-medium{color: #555555}
.color-light{color: #777777}
.color-extra-light{color: #999999}
.color-url{color:#777777}
.color-warning{color:#ff0000}

.family-raleway-regular{font-family: "Raleway",sans-serif}
.family-opensans-regular{font-family: "OpenSans-Regular",sans-serif}
.family-opensans-light{font-family: "OpenSans-Light",sans-serif}
.family-muli-regular{font-family: "Muli-Regular",sans-serif}
.family-muli-light{font-family: "Muli-Light",sans-serif}
.family-sanspro-regular{font-family: "SourceSansPro-Regular",sans-serif}
.family-sanspro-light{font-family: "SourceSansPro-Light",sans-serif}
.family-sanspro-bold{font-family: "SourceSansPro-Bold",sans-serif}
.family-opensans-extra-bold{font-family: "OpenSans-ExtraBold",sans-serif}